/*font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif;*/

* {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    font-family: 'Roboto', sans-serif; 
}

body {

}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
}

img {
    max-width: 100%;
}

h2, h3, h4 {
    font-weight: 400;
    font-family: 'Bebas Neue', cursive;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

button,
button:hover,
button:active,
button:focus,
button:focus-within {
    outline: none;
    box-shadow: none;
}

.white,
.gray {
    padding: 70px 0;
}

.white {
    background: #ffffff;
}

.gray {
    background: #f6f6f6;
}

/*For Sticky Menu*/

.sticky{
    position:fixed;
    top:0px;
    left:0;
    right:0;
    z-index: 999999;
}

/*go to top button*/

#top {
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: none;
    background: #105cca;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-radius:3px;
}

a.view-all {
    border: 1px solid #105caa;
    padding: 8px 25px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #105caa;
    font-weight: 400;
}

a.view-all:hover {
    background: #105caa;
    color: #fff;
}

a.know-more {
    position: relative;
    padding-right: 5px;
    color: #818181;
    text-decoration: none;
}

a.know-more::after {
    content: '\f105 ';
    position: absolute;
    top: 0;
    right: -10px;
    font-family: fontAwesome;
}



/*Header start*/

.header-top {
    background: #105caa;
    min-height: 40px;
}

.top-social-menu {
    text-align: right;
}

.top-social-menu ul li {
    margin-left: 5px;
}

.top-social-menu ul li:last-child a {
    padding-right: 0px;
}

.top-social-menu ul li a {
    font-size: 1rem;
    color: #fff;
    padding: 10px 10px;
    line-height: 45px;
}








.header-main.sticky {
    background: #fff;
    box-shadow: inset 0px -1px 0px 0px #ddd;
}


.logo {
    padding-right: 20px;
}

.main-menu nav.navbar {
    padding: 0px;
}



.main-menu nav li a {
    padding: 10px;
    line-height: 90px;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.main-menu nav ul.navbar-nav>li {
    margin-right: 15px;
}

li.first-drop-menu>a {
    position: relative;
}

li.first-drop-menu>a::after {
    content: '\f107';
    font-family: fontAwesome;
    font-weight: 900;
    color: #000;
    position: absolute;
    line-height: 90px;
    right: -5px;
    top: -25px;
    font-size: 18px;
}

.main-menu nav li a:hover,
li.first-drop-menu>a:hover::after  {
    color: #f79420;
}

/*Dropdown Menu*/
li.first-drop-menu,
li.second-drop-menu {
    position: relative;
}

ul.first-dropped-menu,
ul.second-dropped-menu {
	position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 99;
    /*padding: 10px 0px 15px;*/
    background: #fff;
    min-width: 150px;
    width: max-content;
    max-width: 320px;
}

ul.first-dropped-menu li,
ul.second-dropped-menu li {
    margin-left: 0px;
    padding: 0px;
    display: block;
    transition: all 0.3s;
    box-shadow: 0px 1px 0px 0px #4b4b4b;
}

ul.first-dropped-menu li:last-child,
ul.second-dropped-menu li:last-child {
    box-shadow: 0px 1px 0px 0px transparent;
}

ul.first-dropped-menu li:hover,
ul.second-dropped-menu li:hover {
    padding-left: 10px;
}

ul.topbar-menu li.first-drop-menu ul.first-dropped-menu li:hover a {
    color: #f79420;
}

ul.first-dropped-menu li a:hover,
ul.second-dropped-menu li a:hover {
    color: #f79420 !important;
}

.topbar-menu li.first-drop-menu::after{
    color: #fff;
}

ul.first-dropped-menu li a,
ul.second-dropped-menu li a {
	padding: 5px 40px 5px 20px;
    display: inline-block;
    color: #333;
    font-size: 1.1rem !important;
    font-weight: 400;
    line-height: 30px !important;
}

li.first-drop-menu:hover .first-dropped-menu,
li.second-drop-menu:hover .second-dropped-menu {
    display: block;
}

ul.second-dropped-menu.research {
	left: -321px;
    /*top: -13px;*/
    top: -3px;
}

ul.second-dropped-menu.research li a {
    line-height: 25px !important;
}

ul.second-dropped-menu {
    left: calc( 100% + 1px );
    /*top: -13px;*/
    top: -3px;
}

ul.first-dropped-menu.last-dropdown {
    right: -100% !important;
    left: unset;
}

/*Dropdown Menu End*/



.search input {
    display: none;
}

.main-menu form {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 80px;
}

a.search-icon i.fa {
    color: #ddd;
}


/*Header end*/





/*Slider Start here*/

section#Slider {
    position: relative;
}

section#Slider,
section#Slider .carousel-inner,
section#Slider .carousel-inner .carousel-item {
    max-height: calc( 100vh - 135px ) !important;
    overflow: hidden;
}

section#Slider .carousel-caption {
    text-align: left;
    left: 9% !important;
    margin-bottom: 30px;
}

section#Slider .carousel-caption h2,
section#Slider .carousel-caption p {
    color: #fff;
}

section#Slider .carousel-caption h2 {
    font-size: 60px;
    letter-spacing: 2px;
}

section#Slider .carousel-caption p {
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}

section#Slider a.carousel-control-next,
section#Slider a.carousel-control-prev {
    z-index: 99;
    width: 8%;
}

a.carousel-control-prev {
    background: linear-gradient(to right, rgba(51, 51, 51, 0.5) 15%, transparent 100%);
}

a.carousel-control-next {
    background: linear-gradient(to right, transparent 15%, rgba(51, 51, 51, 0.5) 100% );
}

a.next-section-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: #fff;
    font-size: 25px;
    transform: translateX(-50%);
    display: block;
    z-index: 9;
}

section#Slider .carousel-inner .carousel-item {
    position: relative;
}

section#Slider .carousel-inner .carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 9;
}

/*Slider End Here*/



/*Intro Text Start here*/
section#Intro {
    min-height: calc( 100vh - 90px);
}

section#Intro .intro-text {
    max-width: 85%;
    margin: 0 auto;
    padding: 30px;
}

.intro-text p {
    font-size: 14pt;
}
/*Intro Text End here*/



/*Work Slider Start Here*/

.section-heading p {
    color: #818181;
    font-size: 1.2rem;
}

.owl-carousel.work-slider {
    padding: 40px 0;
}

.full-box {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 35px;
}

.full-box .info-box {
    background: #fff;
    margin-top: -20px;
    position: relative;
    margin: -20px 15px;
    padding: 15px;
}

.full-box .info-box h3 a {
    color: #000;
    letter-spacing: 1px;
}

.full-box .info-box p {
    font-size: 0.9rem;
}

.full-box:hover .info-box {
    background: #f79420;
}

.full-box:hover .info-box h3 a,
.full-box:hover .info-box a,
.full-box:hover .info-box p {
    color: #fff;
    text-decoration: none;
}

.single-work-info.info-box p.info-update-date {
    border-top: 2px solid #e3e3e3;
    padding-top: 10px;
    margin-top: 10px;
}

.single-work:hover .single-work-info.info-box p.info-update-date  {
    border-top: 2px solid #fff;
}


.info-box p {
    color: #b1b1b1;
}



.owl-carousel.work-slider .owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-carousel.work-slider .owl-dots button.owl-dot {
    background: #e3e3e3;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
}

.owl-carousel.work-slider .owl-dots button.owl-dot.active {
    background: #f79420;
}






/*Work Slider End Here*/





/*banner Link start here*/
section#Link-banner {
    position: relative;
}

.banner-links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.banner-links .section-heading h2 {
    color: #fff;
    font-size: 3.3rem;
    margin-bottom: 50px;
}

.banner-links .section-heading a.btn.btn-bhw.btn-link {
    border: 1px solid #f79420;
    color: #f79420;
    border-radius: 0px;
    margin-right: 20px;
    padding: 8px 25px;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration: none;
}

.banner-links .section-heading a.btn.btn-bhw.btn-link:hover {
    color: #000;
    background: #f79420;
}
/*banner Link end here*/




/*Events Start Here*/

.single-event-info p.event-date {
    margin-bottom: 8px;
}

.single-event-info p.time-venue {
    overflow: hidden;
    margin-bottom: 15px;
}


span.event-time,
span.event-venue {
    position: relative;
    padding-left: 15px;
    font-size: 13px;
}

span.event-time::before,
span.event-venue::before {
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
}

span.event-time::before {
    content: '\f017 ';
}

span.event-venue::before {
    content: '\f041';
}

p.event-info {
    margin-bottom: 20px;
}

section#Events .section-heading {
    margin-bottom: 40px;
}

section#Events a.view-all {
    margin-top: 40px;
    display: inline-block;
}


/*Events End Here*/